body {
    margin: 0px;
}

.container {
    position: relative;
    top: 100px;
    left: 100px;
    background-color: beige;
}

.box {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-color: chocolate;
}

.box2 {
    background-color: pink;
    position: fixed;
    width: 100px;
    top: 20px;
    left: 20px;
}

.box3 {
    background-color: blue;
    position: sticky;
    /* 움직이다가 고정됨 */
    top: 100px;
    left: 70%;
}